 <% if @task.is_finished == TRUE %>
    <div class=" panel finish-panel">
<% else %>
    <div class="panel">
<% end %>
    
    
    <div class="panel-body">
        <% t = @task.name %>
        <%= render :partial => 'title', :locals => {:t => t} %>
        <p><%= @task.description %></p>
    </div>
     <table class="table">
             <thead>
                 <th>Property</th>
                <th>Infomation</th>
             </thead>
            <tr>
                <td>Category</td>
                <td><%= @task.category.name %></td>
            </tr>
            <tr>
                <td>Priority</td>
                <td><%= @task.priority.name %></td>
            </tr>
              <tr>
                <td>Finished</td>
                <td><%= @task.is_finished %></td>
            </tr>
        </table>
            <div class="panel-body">
         <% if @task.is_finished == TRUE %>
            <button type="button" class="btn btn-default finish-task-btn" data-dismiss="modal">Close</button>
        <% else %>
            <button type="button" class="btn btn-default task-btn" data-dismiss="modal">Close</button>

        <% end %>
    </div>
</div>